body{
    font-weight: bold;
    font-family: sans-serif,verdana;
    background: #fff;
    color: #0C1852;
}
h1{
    font-size: 22px;
    text-align: center;
}
#head{
    background: #071447;
    color: #6FF;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    padding: 10px 2px;
}
#body{
    background: #EDF5F7;
    color: #15134D;
    text-align: center;
    font-size: 14px;
    padding: 10px 2px;
}
.eliminar{
    padding: 4px 10px;
    border-radius: 4px;
    border: 0;
    background: #006699;
    color: #fff;
    cursor: pointer;
}
.editar{
    padding: 4px 10px;
    border-radius: 4px;
    border: 0;
    background: #468f42;
    color: #fff;
    cursor: pointer;
}
.agregar{
    
    border: 0;
    background: #9C0;
    color: #fff;
    padding: 10px 2px;
    width: 100%;
}
.delete_modal{
    font-size: 12px;
    margin: 30px 0px 0px 0px;
    text-align: center;
}
.ui-dialog-title{
    font-size: 12px;
}
.ui-button-text{
    font-size: 12px;
}
.insert_modal,.edit_modal{
    font-size: 12px;
    margin: 30px 0px 0px 80px;
}
label{
    display: block;
    margin-left: 0px;
}